<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Table layout</title>
    <link rel="stylesheet" href="./base.css" />
    <style>
      td {
        outline: 1px solid white;
        padding: 1rem;
        background-color: rgba(0, 187, 255, 0.75);
      }
    </style>
  </head>
  <body>
    <article>
      <h1>Table layout</h1>
      <p>
        The html is the layout. No separation of content and style.
      </p>
      <a class="next" href="floating-divs.html">next</a>
    </article>
    <aside>

      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td colspan="3">
            <h2>Cell 1</h2>
            <p>Some content.</p>
          </td>
        </tr>
        <tr>
          <td>
            <h2>Cell2</h2>
            <p>Some content.</p>
          </td>
          <td>
            <h2>Cell 3</h2>
            <p>Some content.</p>
          </td>
          <td>
            <h2>Cell 4</h2>
            <p>Some content.</p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <h2>Cell 5</h2>
            <p>Some content.</p>
          </td>
          <td>
            <h2>Cell 6</h2>
            <p>Some content.</p>
          </td>
        </tr>
      </table>

    </aside>
  </body>
</html>
